{{#with pageContent}}
<ul class="breadcrumbs book">
    {{#each breadcrumbs as | breadcrumb |}}
    <li><a href="{{breadcrumb.url}}">{{breadcrumb.name}}</a></li>
    {{/each}}
</ul>
<div class="row">
    <div class="large-9 columns">
        <div class="row">
            <div class="large-3 columns book">
                <article class="article-card">
                    <img src="{{coverImage}}">
                </article>
            </div>
            <div class="large-9 columns">
                <div class="recommendation-count">{{title}}</div>
                <span class="by">by</span>
                <ul class="table-listing">
                    {{#each authors as | author |}}
                    <li>{{author.name}}</li>
                    {{/each}}
                </ul>        
                <div class="hook">
                    <div>
                        was recommended by {{recommendations.count}} wisdomizers <br><br>
                        Wanna know more about the book? <br>
                        Check out its Amazon Page for detials<a href="{{amazonPage}}" target="_blank"> HERE.</a>
                    </div>
                </div>
            </div>
        </div>
        <section class="content">
            <table>
                <thead>
                    <tr>
                        <th>Wisdom's Origin</th>
                    </tr>
                </thead>
                <tbody>
                        {{#each recommendations.eggheads as | egghead |}}
                    <tr>
                        <td>
                            <a href="../{{egghead.eggheadAlias}}"><span>{{egghead.eggheadName}}</span></a>
                            recommended it on 
                            <a href="{{egghead.src}}"><span>{{egghead.srcTitle}}</span></a>
                        </td>
                    </tr>
                        {{/each}}
                </tbody>
            </table>
        </section>
    </div>
    <div class="large-3 columns">
        {{> mailchimp}}
    </div>
</div>
{{/with}}