{{#with pageContent}}
<ul class="breadcrumbs level-2">
    {{#each breadcrumbs as | breadcrumb |}}
    <li><a href="{{breadcrumb.url}}">{{breadcrumb.name}}</a></li>
    {{/each}}
</ul>
<div class="recommendation-count">You've got {{recommendations.count}} recommendations from {{totalEgghead}} wisdomizers.</div>
{{/with}}
<div class="row">
    {{#with pageContent.recommendations}}
    <div class="large-9 columns">
        <section class="content">
            <table>
                <thead>
                    <tr>
                        <th width="130">Book Cover</th>
                        <th width="250">Book Title</th>
                        <th width="200">Author</th>
                        <th>Wisdom's Origin</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each books as | book |}}
                    <tr>
                        <td>
                            <a href="../{{book.alias}}"><img src="{{book.coverImage}}" alt=""></a>
                        </td>
                        <td><a href="../{{book.alias}}">{{book.title}}</a></td>
                        <td>
                            {{#each book.authors as | author |}}
                                {{author.name}}<br>
                            {{/each}}
                        </td>
                        <td>
                            {{#each book.eggheads as | egghead |}}                            
                            <a href="../{{egghead.alias}}">{{egghead.name}}</a>
                            recommended it on
                            <a href="{{egghead.src}}">{{egghead.srcTitle}}</a><br>
                            {{/each}}
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </section>
    </div>
    {{/with}}
    {{#with pageContent}}
    <div class="large-3 columns">
        {{> mailchimp}}
    </div>
    {{/with}}
</div>