{{#with pageContent}}
<div class="row">
    <div class="large-9 columns">
        <ul class="breadcrumbs">
            {{#each breadcrumbs as | breadcrumb |}}
            <li><a href="{{breadcrumb.url}}">{{breadcrumb.name}}</a></li>
            {{/each}}
        </ul>
        <div class="recommendation-count">You've got {{eggheadCount}} wisdomizers to trigger your wisdom.</div>
        <ul class="wisdomizer-listing">
            {{#each eggheads as |egghead|}}
            <li class="img-box">
                <article class="article-card">
                    <a href="../{{egghead.alias}}"><img src="{{egghead.profilePic}}"></a>
                    <div class="card-content">
                        <p class="post-author"><a href="../{{egghead.alias}}">{{egghead.name}}</a></p>
                    </div>
                </article>
            </li>
            {{/each}}
        </ul>
    </div>
    <div class="large-3 columns">
        {{> mailchimp}}
    </div>
</div>
{{/with}}