{{#with pageContent}}
<div class="recommendation-count home">You've got {{count}} recommendations in {{currentMonth}}.</div>
{{/with}}
<div class="row">
    {{#with pageContent}}
    <div class="large-9 columns">
        <section class="content">
            <table>
                <thead>
                    <tr>
                        <th width="130">Book Cover</th>
                        <th width="250">Book Title</th>
                        <th width="200">Author</th>
                        <th>Wisdom's Origin</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each recommendations as | recommendation |}}
                    <tr>
                        <td>
                            <img src="{{recommendation.coverImage}}" alt="{{recommendation.bookTitle}}">
                        </td>
                        <td>
                            {{recommendation.bookTitle}}
                        </td>
                        <td>
                            {{#each recommendation.authors as | author |}}
                                {{author.name}}<br>
                            {{/each}}
                        </td>
                        <td>
                            {{#each recommendation.eggheads as | egghead |}}
                            <a href="../{{egghead.alias}}">{{egghead.name}}</a> recommended it on <a href="{{egghead.src}}">{{egghead.srcTitle}}</a><br>
                            {{/each}}
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </section>
    </div>
    <div class="large-3 columns">
        {{> mailchimp}}
    </div>
    {{/with}}
</div>
