{{#with pageContent}}
<div class="recommendation-count home">You've got {{count}} recommendation(s) in {{currentMonth}}.</div>
{{/with}}
<div class="row">
    {{#with pageContent}}
    <div class="large-9 columns">
        <section class="content">
            <div class="table">
                <div class="table-col identity book-cover">Book Cover</div>
                <div class="table-col identity book-title">Book Title</div>
                <div class="table-col identity book-author">Author</div>
                <div class="table-col identity book-origin">Wisdom's Origin</div>
            </div>
            <ul class="table item">
                {{#each recommendations as | recommendation |}}
                <li>
                    <div class="table-col book-cover">
                        <a href="{{recommendation.bookAlias}}">
                            <img src="{{recommendation.coverImage}}" alt="{{recommendation.bookTitle}}">
                        </a>
                    </div>
                    <div class="table-col book-title">
                        <a href="{{recommendation.bookAlias}}">
                            {{recommendation.bookTitle}}
                        </a>
                    </div>
                    <div class="table-col book-author">
                        <ul class="table-listing">
                            {{#each recommendation.authors as | author |}}
                                <li style="background: transparent;">{{author.name}}</li>
                            {{/each}}
                        </ul>
                    </div>
                    <div class="table-col book-origin">
                        <ul class="table-listing">
                            {{#each recommendation.wisdomizers as | wisdomizer |}}
                                <li style="background: transparent;">
                                    <a href="../{{wisdomizer.alias}}">{{wisdomizer.name}}</a> recommended it on <a href="{{wisdomizer.src}}" target="_blank">{{wisdomizer.srcTitle}}</a>
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                </li>                
                {{/each}}
            </ul>
        </section>
        <div class="social-btn">
            <p class="instruction">Share Wisdom</p>
            {{> social_share}}        
        </div>
    </div>
    <div class="large-3 columns">
        {{> mailchimp}}
    </div>
    {{/with}}
</div>
