{{#with pageContent}}
<ul class="breadcrumbs level-1">
    {{#each breadcrumbs as | breadcrumb |}}
    <li><a href="{{breadcrumb.url}}">{{breadcrumb.name}}</a></li>
    {{/each}}
</ul>
<div class="row">
    <div class="large-9 columns">
        <div class="recommendation-count">
            {{wisdomizerCount}} wisdomizers ready to trigger your wisdom. 
            <p class="reload-page">Re-load page to shuffle order.</p>
        </div>
        <ul class="wisdomizer-listing">
            {{#each wisdomizers as |wisdomizer|}}
            <li class="img-box">
                <article class="article-card">
                    <a href="../{{wisdomizer.alias}}"><img src="{{wisdomizer.profilePic}}"></a>
                    <div class="card-content">
                        <p class="post-author"><a href="../{{wisdomizer.alias}}">{{wisdomizer.name}}</a></p>
                    </div>
                </article>
            </li>
            {{/each}}
        </ul>
        <div class="social-btn">
            <p class="instruction">Share Wisdom</p>
            {{> social_share}}        
        </div>
    </div>
    <div class="large-3 columns wisdomizers">
        {{> mailchimp}}
    </div>
</div>
{{/with}}